*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.RegisterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.inputBox{
    background-color: #fff;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}