.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    height: 60px;
}

.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    margin: 10px;
    list-style: none;
}

.item{
    text-decoration: none;
    color: #ffffff;
}

